/*style.css*/
#wrapper {
  width: 960px;
  margin-right: 0 auto;
  margin-left: 0 auto;

  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-areas:
  "header  header"
  "nav     main"
  "footer  footer";
  grid-gap: 20px;
}

img {
  display: grid;
  margin: 0 auto;
  width: 300px;
  height: 200px;
  padding: 0;
}


/* figcaption {
  text-align: center;
} */

h1 {
  text-align: center;
  font-size: 75px;
  padding-top: 30px;
  text-shadow: 5px 5px rgb(255,255,255);
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
}

header {
  text-align: center;
  grid-area: header;
}




body {
  background-color: rgb(152,214,253);
  font-family: "Arial", sans-serif;
  line-height: 24px;
  display: block;
  z-index: auto;

}

main {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-template-areas:
   "introduction   geography   people"
   "economy        economy    economy";
  grid-gap: 15px;

}



h2 {
  margin-top: 0;
  font-family: "cinzel" , sans-serif;
}

h3 {
  margin-top:0;
  font-family: "helvetica",sans-serif;
  font-style: italic;
}
/* p,
li,
td {
  color: rgb(0,0,0); */
}

nav{
  grid-area: nav;
  background-color: rgb(255,255,255);

}

nav ul {
  padding-left: 0px;
  list-style-type: none;
  display: grid;
}

nav li {
  display: inline-block;
  margin-right:20px;
  font-family:"monospace", sans-serif;
  line-height: 88px;
  color: rgb(0,0,0);
}

nav ul a {
  display: grid;
}

 nav a:link {
   text-decoration: underline;
 }
 nav a:visited {
   color: rgb(47,79,79);
 }
 nav a:hover {
   text-decoration: none;
   color: rgb(255,0,25,5);
 }
 nav a:active {
   color: rgb(128,0,12,8);
 }


footer {
  background-color: rgb(255,255,255);
  grid-area: footer;
  text-align: center;
  font-size: 15px
}

section {
  background-color: rgb(255,255,255);

}



#introduction {
  grid-area: introduction;
}

#geography {
  grid-area: geography;
}

#people-and-society {
  grid-area: people;
}

#economy {
  grid-area: economy;

}
